5_SSL_Certificates_and_Alerts/SSL_Certificates_and_Alerts.json
{
  "name": "SSL_Certificates_and_Alerts",
  "nodes": [
    {
      "parameters": {
        "url": "=https://ssl-checker.io/api/v1/check/{{ $json[\"property_domains\"].replace(/^https?:\\/\\//, \"\").replace(/\\/$/, \"\") }}\n",
        "options": {}
      },
      "id": "d211d60a-e21b-4ee6-8faa-11265dab1466",
      "name": "Check SSL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1792,
        480
      ],
      "typeVersion": 4.2,
      "retryOnFail": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee6e2ce8-569a-4f1f-91b5-2c55f605a16b",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.result.days_left }}",
              "rightValue": 7
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad364a8f-0480-402d-827a-1be91a53edc1",
      "name": "Expiry Alert",
      "type": "n8n-nodes-base.if",
      "position": [
        2128,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "8d435738-08bc-482d-b940-60e196c50d32",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1072,
        864
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🔐 Advanced SSL Health Monitor\n### 👤 Who is this for?\n#### This workflow is designed for **DevOps engineers, IT administrators, and security professionals** who need comprehensive **SSL certificate monitoring and health assessment** across multiple domains — featuring **dual verification** and **professional reporting** without relying on expensive monitoring services.\n\n---\n\n### 🧩 What It Does\n1. **Daily Trigger** runs the workflow every morning for proactive monitoring.\n2. **URL Collection** fetches the list of website URLs to monitor from your data source.\n3. **Dual SSL Analysis**:\n   - **Bubobot SSL Scanner** — Our custom SSL health assessment tool (SSL Labs-style analysis)\n   - **SSL-Checker.io API** — External verification for cross-validation\n4. **Comprehensive Health Check**:\n   - Certificate expiration monitoring (customizable threshold)\n   - SSL configuration security assessment\n   - Protocol support analysis (TLS 1.3, 1.2, deprecated protocols)\n   - Cipher suite strength evaluation\n   - Vulnerability scanning (POODLE, BEAST, etc.)\n   - Compliance checking (PCI DSS, NIST, FIPS)\n5. **Smart Alert System** sends Discord notifications when:\n   - Certificates expire within threshold (default: 30 days)\n   - SSL configuration issues detected (weak ciphers, deprecated protocols)\n   - Security vulnerabilities found\n   - Compliance standards not met\n   - Grade drops below acceptable level (configurable)\n\n---\n\n### 🎯 Key Features\n- **🔄 Dual Verification**: Cross-checks results between internal scanner and external API\n- **📊 SSL Labs-Style Grading**: A+ to F rating system with detailed analysis\n- **🛡️ Security Assessment**: Vulnerability detection and compliance checking\n- **📱 Discord Integration**: Rich embed notifications with color-coded alerts\n- **📈 Historical Tracking**: Maintain SSL health trends over time\n- **🚨 Smart Alerting**: Only alerts on actual issues, reducing noise\n- **📄 Professional Reports**: HTML reports for stakeholder sharing\n\n---\n\n### ⚙️ Setup Instructions\n1. **Data Source**:  \n   - Configure your URL source from Notion\n   - Ensure it contains a `URL` column with domains to monitor\n2. **Credentials**:  \n   - Set up **Discord webhook** for alert notifications\n   - Configure any required **API credentials** for data sources\n3. **Customize Thresholds**:  \n   - **Expiration Alert**: Days before expiry (default: 30 days)\n   - **Grade Threshold**: Minimum acceptable SSL grade (default: B)\n   - **Alert Severity**: Choose which issues trigger notifications\n4. **Advanced Configuration**:\n   - Modify **vulnerability checks** based on your security requirements\n   - Adjust **compliance standards** for your industry needs\n   - Customize **Discord message formatting** and alert channels\n\n---\n\n### 🧠 Technical Notes\n- **Dual-Check Reliability**: Combines custom Bubobot scanner with ssl-checker.io for maximum accuracy\n- **No Vendor Lock-in**: Uses free public APIs and open-source tools\n- **Scalable Architecture**: Easily handles monitoring of hundreds of domains\n- **Professional Reporting**: Generates SSL Labs-quality assessments\n- **Security-First Approach**: Comprehensive vulnerability and compliance checking\n- **Flexible Alerting**: Discord integration with rich formatting and conditional logic\n\n\nThis workflow transforms basic SSL expiry checking into a **comprehensive SSL security monitoring solution** that rivals enterprise-grade tools while remaining completely open-source and cost-effective.",
        "height": 1760,
        "width": 920
      },
      "id": "1adec7d5-5151-486d-845c-610da0d7eda6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🕒 Daily Trigger\nRuns the workflow every day at 10:00 AM.  \nAdjust the time or frequency as needed using cron or interval settings.\n",
        "height": 380
      },
      "id": "19565eb6-90ad-4dde-b88a-6f8505ccd10d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📄 Fetch URLs\nReads website URLs from Notion.  \nMake sure the sheet has a column named `URL` containing the domains you want to monitor.\n",
        "height": 380
      },
      "id": "66edd7c3-b609-46fa-b1c4-5d2a956b7005",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🔍 Check SSL\nQueries `ssl-checker.io` (free API) for SSL certificate data of each domain.  \nReturns valid_from, valid_till, days_left, and host info.\n",
        "height": 320
      },
      "id": "c99cf137-9b8d-46ff-97bf-ab67eacdb94e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ⚠️ Expiry Alert\nChecks if `days_left` is less than or equal to 7.  \nOnly domains that meet this condition will trigger an email alert.\n",
        "height": 320
      },
      "id": "63663658-6784-40fc-986a-480fcf0eeb2f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        288
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 📧 Send Discord alerts\nSends alerts whether there are problems",
        "height": 320,
        "width": 260
      },
      "id": "f4f9ac89-e3dd-45bc-a86d-38713b9b2a22",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        288
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 🔍 Check SSL health score\nUse sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js\n  \nReturns SSL overall grade, vulnerabilities and actions to take",
        "height": 320,
        "width": 520
      },
      "id": "954ce495-39d6-4b15-a2e2-c69c5dd989c8",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=node \"C:/Users/kratu/Downloads/Github Repositories/n8n-Automations/5_SSL_Certificates_and_Alerts/SSL-Health-Assessment.js\" {{ $json.property_domains }} --json\n"
      },
      "id": "4f31832c-9a44-412a-8af5-1194b4142a11",
      "name": "SSH - Analyze system",
      "type": "n8n-nodes-base.ssh",
      "position": [
        1840,
        1200
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "sshPassword": {
          "id": "0I1XrX8XvqLLotM8",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1517696195764555806",
          "mode": "list",
          "cachedResultName": "Kratu's Server",
          "cachedResultUrl": "https://discord.com/channels/1517696195764555806"
        },
        "channelId": {
          "__rl": true,
          "value": "1517696196200894505",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1517696195764555806/1517696196200894505"
        },
        "content": "=Alert Level : {{ $json.alertLevel }}\n\nError Details : {{ $json.error }}",
        "options": {}
      },
      "id": "b02dde91-a456-4663-ae6a-f0135ba3e62e",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "position": [
        2448,
        1200
      ],
      "webhookId": "6e1014b5-d89d-4939-a1f3-b74c280ae73b",
      "typeVersion": 2,
      "credentials": {
        "discordOAuth2Api": {
          "id": "gCCzqbM9RbogpKnI",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": "https://discord.com/channels/1254730427805990942"
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "1254730427805990945",
          "cachedResultUrl": "https://discord.com/channels/1254730427805990942/1254730427805990945",
          "cachedResultName": "general"
        },
        "content": "=SSL Expiry - {{ $json.result.days_left }} days Left - {{ $json.result.host }}",
        "options": {}
      },
      "id": "ea3573a5-e982-4540-bb1b-a20f09b4004f",
      "name": "Discord1",
      "type": "n8n-nodes-base.discord",
      "position": [
        2464,
        432
      ],
      "webhookId": "6e1014b5-d89d-4939-a1f3-b74c280ae73b",
      "typeVersion": 2,
      "credentials": {
        "discordBotApi": {
          "id": "gCCzqbM9RbogpKnI",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Parse SSL Scanner Output\n// This code processes the SSH node output and formats it for Discord notifications\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Extract the stdout from SSH response\n    const sshOutput = item.json;\n    \n    // Check if SSH command was successful\n    if (sshOutput.code !== 0) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: sshOutput.stderr || 'SSH command failed',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Parse the JSON output from stdout\n    let sslData;\n    try {\n      sslData = JSON.parse(sshOutput.stdout);\n    } catch (parseError) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: 'Failed to parse SSL scanner output',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Extract key information for Discord notification\n    const parsedResult = {\n      // Basic info\n      hostname: sslData.hostname,\n      port: sslData.port || 443,\n      scanTime: sslData.scanTime,\n      scanDuration: sslData.scanDuration,\n      \n      // Overall status\n      overallGrade: sslData.overallGrade,\n      connectionStatus: sslData.connectionStatus || 'unknown',\n      success: sslData.success || false,\n      \n      // Certificate info\n      certificate: {\n        subject: sslData.certificate?.subject || 'unknown',\n        issuer: sslData.certificate?.issuer || 'unknown',\n        validUntil: sslData.certificate?.validUntil,\n        daysUntilExpiry: sslData.certificate?.daysUntilExpiry,\n        isValid: sslData.certificate?.isValid || false,\n        issues: sslData.certificate?.issues || [],\n        hostnameMatch: sslData.certificate?.hostnameMatch || false\n      },\n      \n      // Protocol support\n      protocols: {\n        tls13: sslData.protocols?.tls13 || false,\n        tls12: sslData.protocols?.tls12 || false,\n        tls11: sslData.protocols?.tls11 || false,\n        tls10: sslData.protocols?.tls10 || false,\n        ssl3: sslData.protocols?.ssl3 || false\n      },\n      \n      // Security info\n      vulnerabilities: {\n        hasVulnerabilities: sslData.vulnerabilities?.hasVulnerabilities || false,\n        poodle: sslData.vulnerabilities?.poodle || false,\n        freak: sslData.vulnerabilities?.freak || false,\n        details: sslData.vulnerabilities || {}\n      },\n      \n      // Grades breakdown\n      grades: sslData.grades || {},\n      \n      // Recommendations\n      recommendations: sslData.recommendations || [],\n      \n      // Error handling\n      error: sslData.error,\n      \n      // Alert logic\n      alert: false,\n      alertLevel: 'info',\n      alertReasons: []\n    };\n    \n    // Determine if this needs an alert\n    const alertReasons = [];\n    let alertLevel = 'info';\n    \n    // Critical alerts\n    if (sslData.error) {\n      alertReasons.push(`Scan failed: ${sslData.error}`);\n      alertLevel = 'critical';\n    }\n    \n    if (!parsedResult.certificate.isValid) {\n      alertReasons.push('Certificate is invalid');\n      alertLevel = 'critical';\n    }\n    \n    if (parsedResult.certificate.daysUntilExpiry <= 0) {\n      alertReasons.push('Certificate has expired');\n      alertLevel = 'critical';\n    }\n    \n    // High priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 7 && parsedResult.certificate.daysUntilExpiry > 0) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (parsedResult.vulnerabilities.hasVulnerabilities) {\n      alertReasons.push('Security vulnerabilities detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (!parsedResult.certificate.hostnameMatch) {\n      alertReasons.push('Hostname mismatch detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    // Medium priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 30 && parsedResult.certificate.daysUntilExpiry > 7) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (['C', 'D', 'F'].includes(parsedResult.overallGrade)) {\n      alertReasons.push(`Poor SSL grade: ${parsedResult.overallGrade}`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (parsedResult.protocols.ssl3 || parsedResult.protocols.tls10) {\n      alertReasons.push('Deprecated protocols enabled');\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    // Low priority alerts\n    if (parsedResult.recommendations && parsedResult.recommendations.length > 0) {\n      alertReasons.push(`${parsedResult.recommendations.length} recommendations available`);\n      if (alertLevel === 'info') alertLevel = 'low';\n    }\n    \n    // Set alert status\n    parsedResult.alert = alertReasons.length > 0;\n    parsedResult.alertLevel = alertLevel;\n    parsedResult.alertReasons = alertReasons;\n    \n    // Add Discord formatting helpers\n    parsedResult.discord = {\n      color: getDiscordColor(alertLevel, parsedResult.overallGrade),\n      title: `SSL Health Check: ${parsedResult.hostname}`,\n      description: getDiscordDescription(parsedResult),\n      fields: getDiscordFields(parsedResult),\n      timestamp: new Date().toISOString(),\n      \n      // Pre-formatted content for easy Discord input\n      content: alertLevel === 'critical' ? '@here 🚨 SSL Health Monitor Alert' : '🔐 SSL Health Monitor Alert',\n      \n      // Simple descriptions without complex logic\n      simpleDescription: parsedResult.alert \n        ? `⚠️ SSL issues detected for ${parsedResult.hostname}`\n        : `✅ SSL looks healthy for ${parsedResult.hostname}`,\n        \n      // Detailed info as simple strings\n      certificateInfo: `Grade: ${parsedResult.overallGrade} | Expires in ${parsedResult.certificate.daysUntilExpiry} days`,\n      \n      // Alert details as simple string\n      alertSummary: parsedResult.alert \n        ? `Issues: ${parsedResult.alertReasons.join(', ')}`\n        : `Certificate expires ${parsedResult.certificate.validUntil}`,\n        \n      // Complete formatted description\n      fullDescription: getFullDiscordDescription(parsedResult)\n    };\n    \n    results.push({ json: parsedResult });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    results.push({\n      json: {\n        hostname: 'unknown',\n        status: 'error',\n        error: `Processing error: ${error.message}`,\n        alert: true,\n        alertLevel: 'critical'\n      }\n    });\n  }\n}\n\n// Helper functions for Discord formatting\nfunction getDiscordColor(alertLevel, grade) {\n  // Color mapping for Discord embeds\n  const colors = {\n    critical: 15158332, // Red\n    high: 15105570,     // Orange\n    medium: 15844367,   // Yellow\n    low: 5763719,       // Blue\n    info: 5763719       // Blue\n  };\n  \n  // Grade-based colors for non-alerts\n  const gradeColors = {\n    'A+': 5763719,  // Green\n    'A': 3066993,   // Green\n    'B': 15844367,  // Yellow\n    'C': 15105570,  // Orange\n    'D': 15158332,  // Red\n    'F': 10038562   // Dark Red\n  };\n  \n  if (alertLevel !== 'info') {\n    return colors[alertLevel] || colors.info;\n  }\n  \n  return gradeColors[grade] || colors.info;\n}\n\nfunction getFullDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    let description = `⚠️ SSL issues detected for ${result.hostname}\\n`;\n    description += `Grade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days\\n\\n`;\n    description += `Issues found:\\n`;\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good for ${result.hostname}\\nGrade: ${result.overallGrade} | Certificate expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    // Create simple alert description\n    let description = \"⚠️ SSL issues detected:\\n\";\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good\\nGrade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordFields(result) {\n  const fields = [];\n  \n  // Certificate info\n  fields.push({\n    name: \"📜 Certificate\",\n    value: [\n      `**Subject:** ${result.certificate.subject}`,\n      `**Issuer:** ${result.certificate.issuer}`,\n      `**Expires:** ${new Date(result.certificate.validUntil).toLocaleDateString()}`,\n      `**Days Left:** ${result.certificate.daysUntilExpiry}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Security info\n  fields.push({\n    name: \"🔐 Security\",\n    value: [\n      `**Overall Grade:** ${result.overallGrade}`,\n      `**TLS 1.2:** ${result.protocols.tls12 ? '✅' : '❌'}`,\n      `**TLS 1.3:** ${result.protocols.tls13 ? '✅' : '❌'}`,\n      `**Vulnerabilities:** ${result.vulnerabilities.hasVulnerabilities ? '⚠️ Found' : '✅ None'}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Add recommendations if any\n  if (result.recommendations.length > 0) {\n    fields.push({\n      name: \"💡 Recommendations\",\n      value: result.recommendations.slice(0, 3).map(rec => `• ${rec.message || rec}`).join('\\n') + \n             (result.recommendations.length > 3 ? `\\n... and ${result.recommendations.length - 3} more` : ''),\n      inline: false\n    });\n  }\n  \n  return fields;\n}\n\nreturn results;"
      },
      "id": "317b28cd-b8df-48b1-a2c3-55dafcf5a3f1",
      "name": "Code - Format output",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        1200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "### 📧 Send Discord alerts\nSends alerts whether there are problems",
        "height": 320,
        "width": 260
      },
      "id": "ffdabf61-a705-4394-bdfd-5d82fb08d510",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        1040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "https://app.notion.com/p/384de9be0b9980d4b0c3dea3ad4f88b8?v=384de9be0b9980e89a49000c47ec6520&source=copy_link",
          "mode": "url"
        },
        "returnAll": true,
        "filterType": "manual",
        "options": {}
      },
      "id": "ba57b7fa-5a54-4be7-9d60-e2146d29ae02",
      "name": "Fetch and Check SSL",
      "type": "n8n-nodes-base.notion",
      "position": [
        1392,
        864
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "VdxJCCffllee9oUf",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check SSL": {
      "main": [
        [
          {
            "node": "Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiry Alert": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch and Check SSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format output": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Analyze system": {
      "main": [
        [
          {
            "node": "Code - Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch and Check SSL": {
      "main": [
        [
          {
            "node": "SSH - Analyze system",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "020c09c6-c1a2-4115-8f93-c427bcd049aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7edbd0b12e1df806a29efe188817e5329f83e607c09d73ef96c65b45c25ae1fc"
  },
  "nodeGroups": [],
  "id": "TuMgFwPfI9JUkkOr",
  "tags": []
}